---
import Swiper from '../swiper/Swiper.astro';
const { subtitle, description ,introduction, myRole, secondaryImages, video, paragraphs, slides} = Astro.props;
---

<section class="py-14 sm:py-20">
    <div class="mx-auto max-w-2xl px-8 sm:px-12 lg:max-w-7xl lg:px-16 space-y-6">
        <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">{subtitle}</h2>
        <div class="space-y-12">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                {introduction}

            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                {myRole}
            </p>

        </div>
        <div class="space-y-12 py-12" >
        <Swiper slides={slides}/>

            <!--{secondaryImages.map((image) => (-->
            <!--    <img-->
            <!--            class="mx-auto h-auto w-full rounded-3xl"-->
            <!--            width="100"-->
            <!--            height="100"-->
            <!--            src={image}-->
            <!--            alt="Secondary image"-->
            <!--    />-->
            <!--))}-->
    </div>

        {paragraphs.map((paragraph) => (
            <div class="flex flex-col gap-10">
                <div class="space-y-8 sm:space-y-12">
                            <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Title</h2>
                    <div class="space-y-6">
                        <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                            {paragraph}
                        </p>
                    </div>
                </div>
        </div> ))}
    </div>
</section>

            <!--<img-->
            <!--        class="mx-auto h-auto w-full max-w-xl rounded-3xl"-->
            <!--        width="576"-->
            <!--        height="864"-->
            <!--        src={secondaryImage}-->
            <!--        alt="Secondary image"-->
            <!--/>-->
            <!--<img-->
