---
import Swiper from '../swiper/Swiper.astro';
import Tilt from '../../util/Tilt.jsx';
const { subtitle, description ,introduction, myRole, video, paragraphs, slides} = Astro.props;
const options = {
    scale: 1.4,
    speed: 800,
    max: 30,
    glare: true
};
---

<section class="py-14 sm:py-20">
    <div class="mx-auto max-w-2xl px-8 sm:px-12 lg:max-w-7xl lg:px-16 space-y-6">
        <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">{subtitle}</h2>
        <div class="space-y-12">

            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                {introduction}

            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                {myRole}
            </p>

        </div>
        <div class="space-y-12 py-12" >
        <Swiper slides={slides}/>

    </div>

        {paragraphs.map((paragraph) => (
            <div class="grid gris-cols-1 sm:grid-cols-2 gap-10">

                <Tilt
                  className={
                      'shadow-3xl z-10 m-10 overflow-hidden rounded-3xl bg-cover'
                  }
                  input={''}
                  options={options}
                  bgImage={paragraph.images[0]}
                  client:load
                />
                <div class="space-y-6 sm:space-y-8">
                    <h3 class="text-xl font-medium tracking-tight">{paragraph.title}</h3>
                    <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                        {paragraph.text}
                    </p>
                </div>
            </div>)
            )}
    </div>
</section>