---
import Layout from './Layout.astro';
import Cta from '../components/projects/cta.tsx';
import ProjectHero from '../components/projects/hero.tsx';
import Body from '../components/projects/body.tsx';
// Import multiple files with Astro.glob
const projects = await Astro.glob('../app/projects/*.md');

const { frontmatter } = Astro.props;
---

<Layout description="My personal portfolio website.">
  <ProjectHero
    title={frontmatter.title}
    description={frontmatter.description}
    isImage={frontmatter.isImage}
    heroImage={frontmatter.image}
  />
  <section class="py-16 sm:py-20">
    <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="flex flex-col gap-10">
        <slot />
      </div>
    </div>
  </section>
  <Body
    subtitle={frontmatter.subtitle}
    description={frontmatter.description}
    introduction={frontmatter.introduction}
    myRole={frontmatter.myRole}
    paragraphs={frontmatter.paragraphs}
    secondaryImages={frontmatter.secondaryImages}
    slides={frontmatter.slides}
  />

  <Cta />
</Layout>
