---
import '@fontsource/inter/latin-400.css';
import '@fontsource/inter/latin-500.css';
import { ViewTransitions } from 'astro:transitions';
import Footer from '../components/layout/Footer.astro';
import Header from '../components/layout/Header.astro';
import { SEOMetadata } from 'astro-seo-metadata';
import Posthog from '../components/analytics/Posthog.astro';
import Google from '../components/analytics/Google.astro';
import ThemeToggle from '../components/theme/ThemeToggle.astro';

interface Props {
  description: string;
  title: string;
  image: string;
}

const { description, title, image } = Astro.props;
---

<!doctype html>
<html lang="en" x-cloak x-data :class="{ 'dark': $store.theme.isDark }">
  <head>
    <title>Bettina sosa portfolio</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <ViewTransitions />
    <SEOMetadata
      siteName={'Bettina sosa portfolio'}
      title={title}
      description={description}
      image={image}
      favicon={'/favicon.svg'}
      author="Bettina Sosa"
      copyright="ISC"
      astroSitemap={true}
      canonicalUrl={Astro.url.toString()}
      type={'website'}
      astroGenerator={true}
    />
    <Posthog />
    <Google />
  </head>
  <!-- Google tag (gtag.js) -->
  <body
    class="bg-primary-50 text-primary-950 antialiased transition dark:bg-primary-950 dark:text-primary-200"
  >
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <ThemeToggle />
  </body>
</html>
